<!DOCTYPE html>
<html>
<head>
	<title>ViewBag.Title</title>

	<!--[if lt IE 9]>
	<script src="@Url.Content("~/scripts/html5shim.js")"></script>
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/ResetCss.css")">
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Site.css")">
	@RenderSection("Style", false)
  
</head>
<body>
	<div class="containter">
		 @RenderBody()
	</div>
	@if (IsSectionDefined("Script")) {
		<script src="@Url.Content("~/scripts/jquery-1.6.1.min.js")" type="text/javascript"></script>
		@RenderSection("Script")
	}
</body>
</html>